.textImageWrapper {
  position: relative;
  overflow-y: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.textImageText {
  position: absolute;
  bottom: 50%;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  text-align: center;
  padding: 0.5em;
}