@import 'bootstrap/bootstrap';

.myanmar3 {
  font-family: Myanmar3;
}

.zawgyi {
  font-family:Zawgyi-One;
}

.padauk {
  font-family: padauk;
}

.pyidaungsu {
  font-family: Pyidaungsu;
}

.noto-sans-myanmar {
  font-family: 'Noto Sans Myanmar';
}

.roboto {
  font-family: Roboto;
}

.controls div {
  margin-bottom: 10px;
}
